body{
    margin: auto;
    padding: auto;
    background-color: lightblue;
    
}

.form-inline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:10px;
    padding: 10px;
    background-color: rgb(171, 196, 196);
    border-radius: 5px;
    border: 2px solid darkcyan;
}
.bg-white{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid darkcyan;
}
#location{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
#cityDetails{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.geo{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: orange;
    
}
#currentWeatherDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
#weather-status{
    text-align: center;
}
.weather-details{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    color: darkcyan;
    font-weight: bold;

}
#weather-icon{
    height:300px;
    width: 400px;
    align-self: center;
    
}
#recommendations{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    color: lemonchiffon;
    background-color: darkcyan;
    font-size: larger;  
    font-family: 'Franklin Gothic Medium'; 
    
}