body{
    margin: auto;
    padding: auto;
    background-color: rgb(250, 247, 241);
}
.card{
    margin:auto;
}
.form-inline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#location{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: darkcyan;
}
#cityDetails{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.geo{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(11, 85, 67);
    
}
#currentWeatherDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
#weather-status{
    text-align: center;
}
.weather-details{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid olivedrab;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    color: brown;

}